p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .set-width{
    max-width: 1000px;
    margin: 0 auto;
    color: #aeaeae;
}
  .about {
    background-color: #181818;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name-alias {
    font-size: 28px;
    color: #59dcff;
    font-weight: 900;
  }
  .name-interest {
    font-size: 26px;
  color:#7b04ff;
    font-weight: 900;
  }
  .description {
    border-radius: 5px;
    flex-direction: column;
    background: aqua;
    width: 700px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
  }
  .description,
  p {
    position: initial;
  }