@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    font-family: 'roboto', sans-serif;
}

a{
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #df00ff;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
  position: absolute;
  z-index: 20;
}

.index {
    display: flex;
   background:#181818;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding: 20px;
  }
  h1 {
    font-size: 100px;
   background: linear-gradient(
      to left,
      #7900ff 20%,
      #dd03ff 40%,
      #df00ff 60%,
      #7b04ff 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    background-size: 200% auto;
    animation: shine 5s linear infinite;
    font-weight: 500;
    top: -10px;
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 84px;
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  h3 {
    font-size: 1.2rem;
    color: #979797;
    font-weight: 500;
  }
  .greetings h1,
  .greetings h3 {
    text-align: center;
  }

  @media (min-width: 1024px) {
    .greetings h1,
    .greetings h3 {
      text-align: left;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
    margin-top: 85px;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #7b04ff;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #df00ff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }