div{
    background-color: black;
}
.card-container{
    width: -webkit-fill-available;
    height: max-content;
    background-color: black;
}
.card{
    border-style: double;
    height: 80vh;
}
.card-cipher{
    background-image: url('../assets/ciphermb.png');   
    background-position: right;
    background-repeat: no-repeat;
        background-size: 57%;
    background-position-y: center;
    margin-left: 0%;
}
.card-pokemon{
    background-image: url('../assets/pokemb.png');    
    background-position: right;
    background-repeat: no-repeat;
        background-size: 57%;
    background-position-y: center;
    margin-left: 0%;
}
.card-steam{
    background-image: url('../assets/steammb.png');    
    background-position: right;
    background-repeat: no-repeat;
        background-size: 57%;
    background-position-y: center;
    margin-left: 0%;
}
.card-burger{
    background-image: url('../assets/bqmb.png');    
    background-position: right;
    background-repeat: no-repeat;
        background-size: 57%;
    background-position-y: center;
    margin-left: 0%;
}
.copy{
    background-color: #000000a8;
    width: 61%;
    height: 71vh;
}
.code, .link-animation{
    text-decoration: underline;
    margin: 11%;
    padding: 2%;
    background-color: #00000096;
}
.p{
    display: flex;
    height: 60vh;
    align-items: center;
}