#about{
    display: flex;
    justify-content: center;
    padding: 5%;
    #container{
        background-color: #1414146b;
        position: absolute;
        max-width: 1000px;
        width: 72%;
        height: auto;
        padding: 65px 20px 0px;
        #name{
            color: whitesmoke;
            padding: 0px 20px;
            h1{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 3rem;
                @media(max-width: 800px){
                    font-size: 2rem;
                }
            }
            p{
                color:#ea4b3b;
            }
        }
        #about_container{
            height: 45vh;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            color: #ea4b3b;
        }
        #icons_container{
            padding: 2% 9%;
            margin-top: 51px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            font-size:1.5em;
            a{
                color:whitesmoke;
                &:hover{
                    color:#ea4b3b;
                }
            }
        }
    }
}