
.talk_section {
    padding: 70px 0px;
    text-align: center;
    h2{
        display: inline;
        color: #b8b8b8;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        margin: 0;
        @media(max-width: 400px){
            font-size: 30px;
        }
    }
}


.talk_wrapper {
    display: flex;
    @media(max-width:800px){
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .talk_item{
        flex-grow: 1;
        width: 33%;
        padding: 20px;
        box-sizing: border-box;
        @media(max-width: 800px){
            width: auto;
        }
    }
    .talk_inner_wrapper {
        border:2px solid #ea4b3b;
        padding: 50px 20px;
        .talk_title {
            color: #b8b8b8;
            text-align: center;
            border-bottom: 1px solid #ea4b3b;
            padding-bottom: 10px;
            span:nth-child(1) {
                font-size: 25px;
                display: block;
            }
            span:nth-child(2) {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 300;
            }
        }
        .talk_description {
            color: #b8b8b8;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            padding: 20px 0px;
            min-height: 70px;
        }
        .talk_buttons {
            text-align: center;
       }
    }
}
