
.pricing_section {
    padding: 70px 0px;
    text-align: center;
    @media(max-width:400px){
        display: flex;

    }
    h2{
        display: inline;
        color: #141414;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        margin: 0;
    }
}


.pricing_wrapper {
    display: flex;
    @media(max-width:500px){
            display: flex;
            flex-direction: column;
    }
    .pricing_item{
        flex-grow: 1;
        width: 33%;
        padding: 20px;
        box-sizing: border-box;
    }
    .pricing_inner_wrapper {
        border:2px solid #ea4b3b;
        padding: 50px 20px;
        .pricing_title {
            color: #141414;
            text-align: center;
            border-bottom: 1px solid #ea4b3b;
            padding-bottom: 10px;
            span:nth-child(1) {
                font-size: 25px;
                display: block;
            }
            span:nth-child(2) {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 300;
            }
        }
        .pricing_description {
            color: #b8b8b8;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            padding: 20px 0px;
            min-height: 70px;
        }
        .pricing_buttons {
            text-align: center;
       }
    }
}
